
<!-- posts -->
<div class="section-heading">
  <hr class="hr-space hr-light">
  <h2 id="all-posts" class="title">所有文章</h2>
  <p>從這裡找到你有興趣的文章類別</p>
</div>

<div class="all-posts">
    {% for post in paginator.posts %}
      <figure class="post">
        <img src="{{ site.baseurl }}{{ post.entry-image }}" alt="">
          <div class="post-content">
            <figcaption class="post-title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></figcaption>
            <!-- Post meta section -->
            <div class="post-content-meta-section">
              <!-- Post time meta -->
              <div class="post-content-meta">
                <i class="far fa-calendar-alt fa-lg"></i>
                日期：
                <time>{{ post.date | date: "%Y, %b %-d" }}</time>
              </div>
              <hr class="hr-vertical hr-light">
              <!-- Post Tags meta -->
              <div class="post-content-meta">
                <i class="fas fa-tags fa-lg"></i>
                標籤：
              </div>
              <hr class="hr-vertical hr-light">
              <!-- Post Comments meta -->
              <div class="post-content-meta">
                <i class="fas fa-comment fa-lg"></i>
                留言：
                <a href="{{ post.url | relative_url }}#disqus_thread">First</a>.
              </div>
            </div>



              <!-- {
                  "tags": [
                      {% for tag in site.tags %}
                        "{{ tag | first }}"{% unless forloop.last %},{% endunless %}

                      {% endfor %}
                  ]
              } -->

            <p>{{ post.description }}</p>
          </div>
      </figure>
    {% endfor %}
</div>



<div class="paginate">

  {% if paginator.total_pages > 1 %}

    {% if paginator.first_page %}
       <a class="paginate-button" href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' }}">第一頁</a>
   {% endif %}

    {% if paginator.previous_page %}
      <a class="paginate-button" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">上一頁</a>
    {% endif %}

    {% if paginator.page_trail %}
      {% for trail in paginator.page_trail %}

        <div class=" {% if page.url == trail.path %}selected{% endif %} paginate-button">
            <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
        </div>

      {% endfor %}
    {% endif %}

    {% if paginator.next_page %}
      <a class="paginate-button" href="{{ paginator.next_page_path | prepend: site.baseurl }}">下一頁</a>
    {% endif %}

    {% if paginator.last_page %}

   <a class="paginate-button" href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' }}">最後一頁</a>

    {% endif %}

  {% endif %}
</div>
