
<div class="section-heading">
  <hr class="hr-space hr-light">
  <h2 class="title">文章分類</h2>
  <p>從這裡找到你有興趣的文章類別</p>
</div>

<div class="artical-sections">
  <div class="artical">
    <img src="{{ site.baseurl }}/assets/img/basic/artical-section-illust.jpg" alt="Articles about Illustrations">
    <div class="artical-content">
      <p>—文章類別—</p>
      <h2>繪畫</h2>
      不管是手繪或是電腦繪圖<br>天馬行空的世界
      <hr>
      <a href="categeory/artical-section-illust.jpg" class="btn btn-light">了解更多</a>
    </div>
  </div>

  <div class="artical">
    <img src="{{ site.baseurl }}/assets/img/basic/artical-section-design.jpg" alt="Articles about Design">
    <div class="artical-content">
      <p>—文章類別—</p>
      <h2>設計</h2>

      拿起圖紙實際規劃<br>設計專案構想
      <hr>
      <a href="{{ site.baseurl }}/categeory/#design" class="btn btn-light">了解更多</a>
    </div>
  </div>

  <div class="artical">
    <img src="{{ site.baseurl }}/assets/img/basic/artical-section-code.jpg" alt="Articles about Coding">
    <div class="artical-content">
      <p>—文章類別—</p>
      <h2>代碼</h2>

      聽說是21世紀必學<br>怎麼能不跟上呢？
      <hr>
      <a href="{{ site.baseurl }}/categeory/#code" class="btn btn-light">了解更多</a>
    </div>
  </div>

  <div class="artical">
    <img src="{{ site.baseurl }}/assets/img/basic/artical-section-notes.jpg" alt="Articles about Notes">
    <div class="artical-content">
      <p>—文章類別—</p>
      <h2>筆記</h2>
      在某時某地某時空的念頭<br>
      隨筆紀錄
      <hr>
      <a href="{{ site.baseurl }}/categeory/#note" class="btn btn-light">了解更多</a>
    </div>
  </div>

  <div class="artical">
    <img src="{{ site.baseurl }}/assets/img/basic/artical-section-casual.jpg" alt="Articles about Casual">
    <div class="artical-content">
      <p>—文章類別—</p>
      <h2>休閒</h2>

      出外旅遊~還是打打電動<br>放鬆的場所
      <hr>
      <a href="{{ site.baseurl }}/categeory/#casual" class="btn btn-light">了解更多</a>
    </div>
  </div>

  <div class="artical">
    <img src="{{ site.baseurl }}/assets/img/basic/artical-section-translation.jpg" alt="Articles about Translation">
    <div class="artical-content">
      <p>—文章類別—</p>
      <h2>翻譯</h2>
      翻譯過的英文文章
      <hr>
      <a href="{{ site.baseurl }}/categeory" class="btn btn-light">了解更多</a>
    </div>
  </div>
</div>
