

<div class="artical-sections">
  <div class="artical">

    <div class="artical-content">
      <p>—文章類別—</p>
      <h2>繪畫</h2>

      不管是手繪或是電腦繪圖，天馬行空的世界
      <hr>
      <a href="{{ site.baseurl }}/categeory/#illust" class="btn btn-light">了解更多</a>
    </div>
    <img src="https://picsum.photos/1920/1081/?random" alt="">
  </div>

  <div class="artical">
    <div class="artical-content">
      <p>—文章類別—</p>
      <h2>設計</h2>

      拿起圖紙實際規劃，設計專案構想
      <hr>
      <a href="{{ site.baseurl }}/categeory/#design" class="btn btn-light">了解更多</a>
    </div>
  </div>

  <div class="artical">
    <div class="artical-content">
      <p>—文章類別—</p>
      <h2>代碼</h2>

      21世紀必學，怎麼能不跟上呢?
      <hr>
      <a href="{{ site.baseurl }}/categeory/#code" class="btn btn-light">了解更多</a>
    </div>
  </div>

  <div class="artical">
    <div class="artical-content">
      <p>—文章類別—</p>
      <h2>筆記</h2>

      隨筆紀錄，在某時某地某時空的念頭
      <hr>
      <a href="{{ site.baseurl }}/categeory/#note" class="btn btn-light">了解更多</a>
    </div>
  </div>

  <div class="artical">
    <div class="artical-content">
      <p>—文章類別—</p>
      <h2>休閒</h2>

      出外旅遊~還是打打電動，放鬆的場所
      <hr>
      <a href="{{ site.baseurl }}/categeory/#casual" class="btn btn-light">了解更多</a>
    </div>
  </div>

  <div class="artical">
    <div class="artical-content">
      <p>—文章類別—</p>
      <h2>全部</h2>
      想要隨意查看就看這裡
      <hr>
      <a href="{{ site.baseurl }}/categeory" class="btn btn-light">了解更多</a>
    </div>
  </div>
</div>
