<header>
  <div class="header-position">
    <span>
      <h1>{{page.title}}</h1>

    </span>
    <div class="person-content">
      <img class="person-thumbnail" src="https://picsum.photos/g/100/100" alt="">
        <p class="comment">創作者</p>
        <h1>RICE</h1>
        <p>這裡是我簡短的敘述</p>
        <!-- <hr class="hr-space hr-light">
        <i class="fas fa-map-marker-alt"></i>台灣／台中市<br>
        <i class="fas fa-map-marker-alt"></i>bottle200918@gmail.com -->

    </div>
    <nav class="site-nav">
      <ul>
        <li class="nav-item"><a href="{{ site.baseurl }}/index.html">首頁</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/intro">關於這裡</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/categeory">文章分類</a></li>
      </ul>
    </nav>
  </div>

<!-- nav toggle -->
  <div class="mobile-nav-toggle" onclick="mobiletoggle()">
    <span></span>
  </div>
<!-- nav panel for mobile  -->
<div class="mobile-nav-panel" id="mobile-nav">
  <div class="nav-panel-content">
    <span>
      <h1>{{page.title}}</h1>
    </span>

    <div>
      <img class="person-thumbnail" src="https://picsum.photos/g/100/100" alt="">
          <p>創作者</p>
          <h1>RICE</h1>
          <p>這裡是我簡短的敘述</p>

    </div>

    <nav class="site-nav color-light">
      <ul>
        <li class="nav-item"><a href="{{ site.baseurl }}/index.html">首頁</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/intro">關於這裡</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/categeory">文章分類</a></li>
      </ul>
    </nav>
  </div>
</div>
</header>
