<header>
  <div class="header-position">
    <span>
      <h1 class="page-position">{{page.title}}</h1>

    </span>
    <div class="person-content">
      <img class="person-thumbnail" src="https://picsum.photos/g/100/100" alt="">

          <h1>RICE</h1>
            <p>寫代碼一天產生的問題比解決的問題還多，<br>不如一棒槌死我吧</p>

    </div>
    <nav class="site-nav">
      <ul>
        <li class="nav-item"><a href="{{ site.baseurl }}/index.html">首頁</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/intro">關於這裡</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/categeory">文章分類</a></li>
      </ul>
    </nav>
  </div>
</header>
