@import "0-tools/normalize"

@import "1-base/vars"
@import "1-base/global"

@import "2-modules/post.sass"
@import "2-modules/footer"
@import "2-modules/archive-group"
@import "2-modules/allposts"
@import "2-modules/button"
@import "2-modules/header"
@import "2-modules/hero"
@import "2-modules/artical-sections"


@import "3-layout/intro"
@import "3-layout/home"


html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit


body
	line-height: 1.7
	background-color: #EFEFEF
	color: $dark
